<template>
  <div id="ibrium-widget">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Валидатор купона</h5>
        <div class="form-inline">
          <input 
            type="text" 
            class="form-control coupon-input" 
            placeholder="Введите номер купона"   
            @input="$v.checkedCoupon.$touch"   
            v-model="checkedCoupon"
            >
          <button class="btn btn-primary send-btn" @click="checkCoupon()" :disabled ="$v.checkedCoupon.$invalid">Проверить</button>
        </div>
        <table class="table mt-2" v-if="showInfo">
          <tr>
            <td>Номер</td>
            <td>{{ coupon.id }}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>{{ coupon.status }}</td>
          </tr>
          <tr>
            <td>ФИО</td>
            <td>{{ coupon.owner }}</td>
          </tr>
          <tr>
            <td>Дата создания</td>
            <td>{{ coupon.createDate }}</td>
          </tr>
        </table>
        <span v-if="showToggle" class="toggle float-right mt-2"
          @click="toggleCouponInfoShow"><small>{{toggleTitle}}</small></span>
      </div>
    </div>


  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
  export default {
    name: 'app',
    components: {

    },
    validations: {
      checkedCoupon: {
        required
      }      
    },
    data() {
      return {
        coupon: {},
        showInfo: false,
        showToggle: false,
        checkedCoupon: ''
      }
    },
    computed: {
      toggleTitle() {
        return this.showInfo ? 'Скрыть' : 'Показать';
      }
    },
    methods: {
      checkCoupon() {
        this.$http.get("http://www.mocky.io/v2/5d2987b43000006e005a405c")
          .then(response => {
            this.coupon = response.body;
            this.showInfo = true;
            this.showToggle = true;
          });

        // const x = {
        //   "Id": 8,
        //   "AlredyUsed": false,
        //   "EmployeeId": 2,
        //   "Employee": null,
        //   "CreationDate": "2019-07-07T00:00:00",
        //   "UsageDate": "2019-07-07T00:00:00",
        //   "ExpDate": "2019-08-07T00:00:00",
        //   "CompanyId": 6,
        //   "Company": null
        // }

        // this.coupon = {
        //   id: '123456789',
        //   status: 'Действителен',
        //   owner: 'Иванов Иван Иванович',
        //   createDate: '13.07.2019'
        // };

      },
      toggleCouponInfoShow() {
        this.showInfo = !this.showInfo;
      }
    }
  }
</script>

<style>
  .send-btn {
    margin-left: 5px !important;
  }

  .coupon-input {
    width: 250px !important;
  }

  .toggle {
    color: #ccc;
    cursor: pointer;
  }

  .toggle :hover {
    color: #555;
  }

  #ibrium-widget {
    width: 450px;
    padding: 1rem;
    margin: 1rem;
  }
</style>
